.historyWrap {
  text-align: start;
  margin-top: 30px;
}
.historyWrap span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  padding-right: 5px;
}
.historyLink a {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.friendEnrolled {
  text-decoration: none;
}
.friendEnrolled h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #800080;
  margin-bottom: 20px;
  text-align: start;
  margin-top: 60px;
}
